@{
    ViewData["Title"] = "SelectTime";
}

@model List<TimeSlot>

<header>
    <h1>Select a Date and Time to tour the Layton, Utah Temple</h1>
</header>


<html>
<body>

    <table class="table table-bordered table-striped">
        <thead class="bold">
            <tr>
                <td>Monday</td>
                <td>Tuesday</td>
                <td>Wednesday</td>
                <td>Thursday</td>
                <td>Friday</td>
                <td>Saturday</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
            <tr>
                <td><a asp-controller="Home" asp-action="SignUp" asp-route-timeid="@x.TimeSlotID" class="btn btn-info d-flex justify-content-center">@x.TourTime</a></td>
                <td><a asp-controller="Home" asp-action="SignUp" asp-route-timeid="@x.TimeSlotID" class="btn btn-info d-flex justify-content-center">@x.TourTime</a></td>
                <td><a asp-controller="Home" asp-action="SignUp" asp-route-timeid="@x.TimeSlotID" class="btn btn-info d-flex justify-content-center">@x.TourTime</a></td>
                <td><a asp-controller="Home" asp-action="SignUp" asp-route-timeid="@x.TimeSlotID" class="btn btn-info d-flex justify-content-center">@x.TourTime</a></td>
                <td><a asp-controller="Home" asp-action="SignUp" asp-route-timeid="@x.TimeSlotID" class="btn btn-info d-flex justify-content-center">@x.TourTime</a></td>
                <td><a asp-controller="Home" asp-action="SignUp" asp-route-timeid="@x.TimeSlotID" class="btn btn-info d-flex justify-content-center">@x.TourTime</a></td>

            </tr>
            }
        </tbody>

    </table>

</body>
</html>