@{
    ViewData["Title"] = "SelectTime";
}

@model List<TimeSlot>

<header>
    <h1>Select a Date and Time to tour the Layton, Utah Temple</h1>
</header>


<html>
<body>
    <p>here we need to set up a way for them to select the time and date and when they click on the date- then time it takes them to the signup page</p>

    <p>
        once they select the time it will take them
        <a asp-action="SignUp">here </a>to fill in a form with their information.
    </p>

    <table class="table table-bordered table-striped">
        <thead class="bold">
            <tr>
                <td>Monday</td>
                <td>Tuesday</td>
                <td>Wednesday</td>
                <td>Thursday</td>
                <td>Friday</td>
                <td>Saturday</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
            <tr>
                <td><a asp-controller="Home" asp-action="SignUp" asp-route-timeid="@x.TimeSlotID" class="btn btn-info d-flex justify-content-center">@x.TourTime</a></td>
                <td><a asp-controller="Home" asp-action="SignUp" asp-route-timeid="@x.TimeSlotID" class="btn btn-info d-flex justify-content-center">@x.TourTime</a></td>
                <td><a asp-controller="Home" asp-action="SignUp" asp-route-timeid="@x.TimeSlotID" class="btn btn-info d-flex justify-content-center">@x.TourTime</a></td>
                <td><a asp-controller="Home" asp-action="SignUp" asp-route-timeid="@x.TimeSlotID" class="btn btn-info d-flex justify-content-center">@x.TourTime</a></td>
                <td><a asp-controller="Home" asp-action="SignUp" asp-route-timeid="@x.TimeSlotID" class="btn btn-info d-flex justify-content-center">@x.TourTime</a></td>
                <td><a asp-controller="Home" asp-action="SignUp" asp-route-timeid="@x.TimeSlotID" class="btn btn-info d-flex justify-content-center">@x.TourTime</a></td>

            </tr>
            }
        </tbody>

    </table>

</body>
</html>