@{
    ViewData["Title"] = "ViewApp";
}

@model List<FormResponse>

<header>
    <h1>View Appointments </h1>
</header>
<html>
<body>
    <p>Use this page to show appointments </p>

    <table>
        <thead class="bold">
            <tr>
                <td>Tour Date/Time</td>
                <td>Group Name</td>
                <td>Group Size</td>
                <td>Email</td>
                <td>Phone</td>
            </tr>
        </thead>

        <tbody>
            @foreach (FormResponse fr in Model)
            {
            <tr>
                <td>@fr.TimeSlot.TourTime</td>
                <td>@fr.GroupName</td>
                <td>@fr.GroupSize</td>
                <td>@fr.Email</td>
                <td>@fr.Phone</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-TourId="@fr.TourId">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-TourId="@fr.TourId">Delete</a></td>
            </tr>
            }
        </tbody>

    </table>


</body>
</html>