@{
    ViewData["Title"] = "ViewApp";
}

@model List<FormResponse>

<header>
    <h1>View Appointments </h1>
</header>
<html>
<body>
    <p>Use this page to show appointments </p>

    <table class="table table-sm table-striped table-bordered">
        <thead class="bold">
            <tr>
                <th class="text-center" style="width: 14%">Tour Date/Time</th>
                <th class="text-center" style="width: 14%">Group Name</th>
                <th class="text-center" style="width: 14%">Group Size</th>
                <th class="text-center" style="width: 25%">Email</th>
                <th class="text-center" style="width: 19%">Phone</th>
                <th class="text-center" style="width: 7%">Edit</th>
                <th class="text-center" style="width: 7%">Delete</th>
            </tr>
        </thead>

        <tbody>
            @foreach (FormResponse fr in Model)
            {
                <tr>
                    <td class="text-center">@fr.TimeSlot.TourTime</td>
                    <td class="text-center">@fr.GroupName</td>
                    <td class="text-center">@fr.GroupSize</td>
                    <td class="text-center">@fr.Email</td>
                    <td class="text-center">@fr.Phone</td>
                    <td class="text-center"><a asp-controller="Home" class="btn btn-info btn-sm d-flex justify-content-center" asp-action="Edit" asp-route-TourId="@fr.TourId">🔨</a></td>
                    <td class="text-center"><a asp-controller="Home" class="btn btn-info btn-sm d-flex justify-content-center" asp-action="Delete" asp-route-TourId="@fr.TourId">🗑️</a></td>
                </tr>
            }
        </tbody>

    </table>


</body>
</html>